{% include 'collection-item-block',
  block_tag: 'div',
  first_product: false,
  link_collection: false,
  show_description: section.settings.show_description,
  image_layout: section.settings.image_layout,
%}

{% if collection.all_tags.size > 0 and section.settings.enable_tag_filtering %}
  {% include 'tags-list' with collection %}
{% endif %}

<div class="collection-listing">
  {% paginate collection.products by section.settings.pagination %}
    {% assign row_helpers = 'rows-of-3' %}
    {% assign remainder_on_3 = collection.products.size | modulo: 3 %}
    {% unless remainder_on_3 == 0 %}
      {% assign row_helpers = row_helpers | append: " remainder-on-3" %}
    {% endunless %}

    {% capture product_crop %}
      product-grid-image-{{ section.settings.product_grid_image_style }}
      {% if section.settings.product_grid_image_crop %}product-grid-image-crop{% endif %}
    {% endcapture %}

    <div class="collection-products product-list {{ product_crop }} {{ row_helpers }}">
      {% for product in collection.products %}
        {% include 'product-list-item', item: product %}
      {% else %}
        <p class="empty">
          {{ 'collections.collection.empty' | t }}
        </p>
      {% endfor %}
    </div>

    {% include 'pagination' %}
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "Collection pages",
  "settings": [
    {
      "type": "select",
      "id": "image_layout",
      "label": "Collection image layout",
      "options": [
        {
          "value": "two_column",
          "label": "Two column"
        },
        {
          "value": "full_width",
          "label": "Full Width"
        }
      ],
      "default": "two_column"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show description",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_tag_filtering",
      "label": "Enable tag filtering",
      "default": true
    },
    {
      "type": "range",
      "id": "pagination",
      "label": "Products per page",
      "min": 6,
      "max": 30,
      "step": 6,
      "default": 12
    },
    {
      "type": "header",
      "content": "Product cards"
    },
    {
      "type": "select",
      "id": "product_grid_image_style",
      "label": "Media aspect ratio",
      "options": [
        { "value": "natural", "label": "Natural" },
        { "value": "small", "label": "Short (4:3)" },
        { "value": "medium", "label": "Square (1:1)" },
        { "value": "large", "label": "Tall (2:3)" }
      ],
      "default": "natural"
    },
    {
      "type": "checkbox",
      "id": "product_grid_image_crop",
      "label": "Enable image crop",
      "default": false,
      "info": "If disabled, white space will be applied around the image. Has no effect when media aspect ratio is set to natural."
    }
  ]
}

{% endschema %}