<article class="lookbook-layout lookbook-layout-2 {{ row_color }}">
  <div class="lookbook-slots">
    <div class="lookbook-slot lookbook-slot-1">
      {% include 'lookbook-image', image: product.media[0].preview_image %}
    </div>

    <div class="lookbook-slot lookbook-slot-2">
      {% include 'lookbook-image', image: product.media[1].preview_image %}

      {% include 'lookbook-label', truncate_length: 60 %}
    </div>
  </div>
</article>
